{% extends 'base.html' %}

{% block content %}


<div id="RecipeDetailPage">
    {% if recipe %}
    <div class="recipe">
        <h1>{{recipe.title}} <i>by</i> {{recipe.created_by}}</h1>
        <p>{{recipe.created_at}}</p>
        <br>
        <p><b>Difficulty: </b>{{recipe.difficulty}}</p>
        <br>
        <img src="{{recipe.image}}" alt="">

        <h3>Ingredients</h3>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>{{ingredient.name}}</li>

            {% endfor %}
        </ul>
        <p>{{recipe.description}}</p>
        
    </div>
    {% else %}
        <h2> NO RECIPE FOUND </h2>
    {% endif %}
</div>


{% endblock  %}